.cabecalho {
    background-color: blueviolet;
    color: black;
    display: flex;
    padding: 24px 0;
}
.section1 {.section1 {
    background-color: cornflowerblue;
padding: 100px;}


.section2 {
    background-color: darkblue;
padding: 100px;
}

.cabecalho-imagem{
    width: 20%;
}

.rodape{
    background-color: maroon;
    color: brown;
}